
* {
    margin: 0px;
    padding: 0px;    
    font-family: 'Poiret One', cursive ;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

h1,
h2 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
}

.section-flex {
     display: flex;
     flex-wrap: wrap;
}

.character {
    width: 25%;
    margin: 3%;
    border: 2px #E6E6E6 solid;
    border-right: 3px #E6E6E6 solid;
    border-bottom: 3px #E6E6E6 solid;
    text-align: center;
    border-radius: 5px;
}

.character img{
    width: 80%;
    border-radius: 3%;

}

.info-character{
    text-align: justify;
    padding: 3%;

}

h2 {
    font-weight: bold;
    margin-bottom: 2%;
}

footer {
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
}

footer p {
    padding-top: 2%;
}

/* CSS Formulario*/

.form {
    margin-left: 20%;
    width: 80%;
    text-align: left;
    margin-top: 5%;
}

.elemnt-form {
    width: 100%;
    margin-top: 2%;
}

.label { 
    width: 20%;
    float: left;
}

.elemnt-form input, 
select, 
textarea {
    width: 70%;
    height: 30px;
}

.btn-div{
    text-align: center;
    width: 80%;
    margin-bottom: 10%;

}

.btn-div button {
    background-color:rgb(22, 129, 129);
    border: 5px black solid;
    border-radius: 10xp;
    height: 30px;
    font-weight: bold;
    color: white;
    margin: 10%;

}
